.hero-section {
    background: rgb(204, 246, 204);
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-content {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content .delivery {
    font-size: 2.8rem;
    color: #06d14a;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    font-weight: 100;
    color: rgb(42, 37, 37);
}

.hero-btns {
    display: flex;
    gap: 10px;
    margin-top: 2rem;
    width: 63%;
}

.start-sub-btn {
    background: linear-gradient(90deg, #02a83f, #08f357);
    color: white;
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 1rem;
}

.start-sub-btn .right-arrow {
    width: 1.5rem;
    height: 1.5rem;
}

.learn-more-btn {
    background: rgb(250, 252, 250);
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1rem;
}

.hero-icons {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    gap: 2rem;
}

.hero-icons div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.hero-icons div span {
    font-size: 0.9rem;
}

.hero-icon,
.hero-icons .leaf {
    color: #06d14a;
    width: 1.3rem;
    height: 1.3rem;
}

.hero-icons .delivery {
    width: 1.7rem;
    height: 1.7rem;
}

.hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leaf-icon-container {
    width: 50px;
    height: 50px;
    background: #08cb49;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    right: 2%;
    z-index: 1;
}

.leaf-icon-for-image {
    color: white;
    font-size: 1.5rem;
}

.hero-img-container {
    width: 90%;
    height: 80%;
    margin-top: -30px;
    position: relative;
}

.hero-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: block;
}

.customer-count {
    background: white;
    width: 10rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    left: 52%;
}

.count-container span {
    font-weight: 900;
    font-size: 1.3rem;
    color: green;
}

.count-container .plus-icon {
    width: 1rem;
    height: 0.8rem;
    color: green;
}

@media (max-width: 1024px) {
    .hero-section {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        text-align: center;
    }

    .hero-content {
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .hero-content p {
        width: 80%;
        font-size: 1.1rem;
    }

    .hero-btns {
        justify-content: center;
        gap: 1rem;
    }

    .hero-image {
        width: 70%;
        margin-top: 2rem;
    }

    .leaf-icon-container {
        top: 61%;
        right: 18%;
    }

    .customer-count {
        bottom: -55%;
        left: 18%;
    }
}

@media (max-width: 780px) {
    .hero-content h1,
    .hero-content .delivery {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1rem;
        width: 80%;
    }

    .hero-btns {
        gap: 1rem;
        width: 100%;
        align-items: center;
    }

    .learn-more-btn,
    .start-sub-btn {
        height: 45px;
        font-size: 0.9rem;
    }

    .hero-icons {
        gap: 1rem;
        margin: 2rem 0rem;
    }

    .hero-img-container {
        width: 100%;
    }

    .leaf-icon-container {
        width: 40px;
        height: 40px;
        top: 65%;
        right: 13%;
    }

    .customer-count {
        left: 15%;
        bottom: -45%;
    }

    .hero-section {
        margin-top: 2.5rem;
    }
}

@media (max-width: 480px) {
    .hero-content h1,
    .hero-content .delivery {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .hero-btns {
        gap: 0.5rem;
    }

    .hero-icons div span {
        font-size: 0.8rem;
    }

    .leaf-icon-container {
        width: 30px;
        height: 30px;
        font-size: 1rem;
        top: 66%;
        right: 13%;
    }

    .leaf-icon-for-image {
        font-size: 1rem;
    }

    .customer-count {
        width: 9rem;
        font-size: 0.8rem;
        padding: 0.8rem;
        bottom: -14%;
        left: 17%;
    }

    .customer-count span {
        font-size: 1rem;
    }
}
