.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.95;
  height: 3.5rem;
  line-height: 3.5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.08);
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.navbar-logo img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 1rem;
  font-weight: 700;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

.navbar-links li {
  font-size: 1.1rem;
}

.style-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.style-link:hover {
  color: rgb(1, 100, 7);
}

.navbar-btns {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}

.slide-bar-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #000402;
  width: 30%;
  position: fixed;
  padding-top: 1rem;
  margin-top: auto;
  top: 3.2rem;
  height: 100vh;
  z-index: 200;
  left: -100%;
  transition: left 0.3s ease-in-out;
  opacity: 1;
}

.slide-bar-container li {
  font-size: 1.4rem;
  list-style: none;
  color: white;
}

.trible-bar {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  margin: 0;
  flex-shrink: 0;
}


@media (max-width: 1024px) {
  .navbar-links {
    gap: 1rem;
  }

  .navbar-logo span {
    font-size: 0.9rem;
  }

  .navbar-links li {
    font-size: 1rem;
  }
}

@media (max-width: 780px) {
  .navbar-links {
    display: none; 
  }

  .trible-bar {
    display: block;
  }

  .slide-bar-container {
    width: 30%;
    top: 3.5rem;
  }

  .slide-bar-container li {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1.5rem;
  }

  .navbar-logo {
    margin-left: 0.5rem;
  }

  .navbar-btns {
    gap: 0.5rem;
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-logo span {
    font-size: 0.8rem;
  }

  .slide-bar-container {
    width: 40%;
  }

  .slide-bar-container li {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .navbar-logo img {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-right: 5px;
  }
}
